body {
    background: -webkit-linear-gradient(to right, #78ffd6, #a8ff78);
    background: linear-gradient(to right, #78ffd6, #a8ff78);
    font-family: "Montserrat", sans-serif;
}

.darkMode {
    background: -webkit-linear-gradient(to right, #734b6d, #42275a);
    background: linear-gradient(to right, #734b6d, #42275a);
    color: white;
}

body, h1, h2, .rightMain {
    margin: 0;
}

h2, .leftHeader, .rightHeader, .lrtext, .rightMain, #loginError, #registerError {
    text-align: center;
}

.modeswitch, .lrbutton, #recipeCreation {
    cursor: pointer;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

a, .lrbutton, .lrinput {
    color: black;
}

a.active, a.showIngridient, .showRecipeButton:focus {    
    border-style: double;
    border-top: none;
    border-left: none;
    border-right: none;
}

.lr {
    margin: auto;
    padding-top: 10%;
    width: 350px;
}

.modeswitch {
    margin-top: 20px;
    margin-left: -50%;
}

.containerHeader, .containerMain, .lrContainer {
    display: flex;
}

.containerHeader, .lrContainer {
    justify-content: space-between;
}

.containerHeader {
    position: fixed;
    width: 100%;
    background: -webkit-linear-gradient(to right, #78ffd6, #a8ff78);
    background: linear-gradient(to right, #78ffd6, #a8ff78);
}

.containerHeader, .rightMain {
    box-shadow: 0px 0px 5px;
}

.containerMain {
    padding-top: 5%;
}

.leftHeader, .leftMain {
    order: 1;
}

.leftMain {
    padding: 5%;
}

.leftHeader, .rightHeader, .rightMain {
    width: 15%;
}

.menuHeader, .rightMain {
    order: 2;
}

.menuHeader, .leftHeader, .rightHeader {
    padding-top: 1%;
}

.rightHeader {
    order: 3;
}

.leftMain {
    width: 85%;
}

.rightMain, .lrinput {
    padding: 0;
}

.rightMain {
    margin-top: -2%;
    padding-top: 5%;
}

.lrContainer {
    justify-content: space-evenly;
    margin-bottom: 50px;
}

.lrbutton, .lrinput {
    width: 350px;
    height: 35px;
}

.lrbutton {
    margin-top: 50px;
}

.mainNavigation {
    display: table-cell;
    width: 300px;
}

#recipeCreation {
    font-variant: small-caps;
    margin-bottom: 20px;
}

.formTitleIngridientInstruction, .createTitle, .showRecipeButton, #createIngridients {
    width: 100%;
}

.ingridientsAndButtons, .addIngridientsButton {
    width: 19%;
    margin-left: 5%;
}

.submitButton {
    margin-bottom: 5%;
}

.showRecipeButton {
    margin-top: 15px;
    border: none;
}

.showIngridient {
    width: 100%;
    margin-right: 5%;
}

#loginError, #registerError {
    color: red;
    padding-bottom: 5%;
}

.eDContainer {
    text-align: right;
}

.editDeleteButton, .showRecipeButton, .submitButton, .addIngridientsButton, .createTitle, .ingridientsAndButtons, .formTitleIngridientInstruction, body, .showIngridient {
    font-size: 20px;
}

.editDeleteButton {
    margin-right: 15px;
}

.editDeleteButton, .submitButton, .addIngridientsButton, .createTitle, .ingridientsAndButtons, .showRecipeButton {
    padding: 0;
}

.editDeleteButton, .submitButton, .addIngridientsButton, .createTitle, .ingridientsAndButtons, .lrbutton, .lrinput, .formTitleIngridientInstruction {
    border-color: black;
    border-top: none;
    border-left: none;
    border-right: none;
    border-width: 1px;
}

.editDeleteButton, .submitButton, .showRecipeButton, .addIngridientsButton, .formTitleIngridientInstruction, .ingridientsAndButtons, .createTitle, .lrbutton, .lrinput {
    background: transparent;
}

.editDeleteButton, .submitButton, .showRecipeButton, .addIngridientsButton {
    cursor: pointer;
}

.logInOut {
    margin: 20px;
}

@media only screen and (max-width: 1024px) {
    .leftHeader, .rightHeader, .rightMain {
        width: 15%;
    }
    .leftMain {
        width: 75%;
    }
    .leftHeader {
        padding-left: 5%;
    }
    .rightHeader {
        padding-right: 5%;
    }
    #recipeCreation {
        padding-top: 50%;
    }
}

@media only screen and (max-width: 600px) {
    .editDeleteButton, .showRecipeButton, .submitButton, .addIngridientsButton, .createTitle, .ingridientsAndButtons, .formTitleIngridientInstruction, body, .showIngridient {
        font-size: 15px;
    }
    .leftMain {
        padding-top: 15%;
    }
    .rightMain {
        padding-top: 10%;
    }
    .modeswitch {
        margin-top: 10px;
    }
}