html, body {
    height: 100%;
}

body {
    background: -webkit-linear-gradient(to right, #78ffd6, #a8ff78);
    background: linear-gradient(to right, #78ffd6, #a8ff78);
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
}

body, h1, h2, .rightMain {
    margin: 0;
}

h2, .leftHeader, .rightHeader, .lrtext, .rightMain {
    text-align: center;
}

.modeswitch, .lrbutton, #recipeCreation {
    cursor: pointer;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

a.active, a.showIngridient, .showRecipeButton:focus {
    text-decoration: overline;   
}

.lr {
    margin-left: 40%;
    margin-top: 10%;
    width: 350px;
}

.modeswitch {
    margin-top: 20px;
    margin-left: -50%;
}

.containerHeader, .containerMain, .lrContainer {
    display: flex;
}

.containerHeader, .lrContainer {
    justify-content: space-between;
}

.containerMain {
    height: 91%;
}

.leftHeader, .leftMain {
    order: 1;
}

.leftHeader, .rightHeader, .rightMain {
    width: 15%;
}

.leftHeader {
    padding-top: 1%;
}

.menuHeader, .rightMain {
    order: 2;
}

.menuHeader {
    padding-top: 1%;
}

.rightHeader {
    order: 3;
    padding-top: 1%;
}

.leftMain, .rightMain {
    padding-top: 3%;
}

.leftMain {
    width: 85%;
}

.rightMain {
    margin-top: 25px;
}

.rightMain, .lrinput {
    padding: 0;
}

.lrContainer {
    justify-content: space-evenly;
    margin-bottom: 50px;
}

.lrbutton, .lrinput {
    border-width: 1px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-color: black;
    color: black;
    background-color: transparent;
    width: 350px;
    height: 35px;
}

.lrbutton {
    margin-top: 50px;
}

.mainNavigation {
    display: table-cell;
    width: 300px;
}

#recipeCreation {
    font-variant: small-caps;
    margin-bottom: 20px;
}

.formTitleIngridientInstruction {
    font-size: 20px;
    width: 75%;
    margin-left: 1%;
    background: transparent;
    border-color: black;
    border-top: none;
    border-left: none;
    border-right: none;
    border-width: 1px;
}

.ingridientsAndButtons {
    font-size: 20px;
    width: 17%;
    margin-left: 5%;
    background: transparent;
    padding: 0;
    border-color: black;
    border-top: none;
    border-left: none;
    border-right: none;
    border-width: 1px;
}

.addIngridientsButton {
    font-size: 20px;
    width: 17%;
    margin-left: 5%;
    background: transparent;
    padding: 0;
    border-color: black;
    border-top: none;
    border-left: none;
    border-right: none;
    border-width: 1px;
    cursor: pointer;
}

.submitButton {
    font-size: 20px;
    background: transparent;
    padding: 0;
    border-color: black;
    border-top: none;
    border-left: none;
    border-right: none;
    border-width: 1px;
    cursor: pointer;
}

.showRecipeButton {
    font-size: 20px;
    width: 100%;
    margin-top: 15px;
    background: transparent;
    padding: 0;
    border: none;
    cursor: pointer;
}

.showIngridient {
    font-size: 20px;
    width: 17%;
    margin-right: 5%;
}

.editDeleteButton {
    font-size: 20px;
    margin-right: 15px;
    background: transparent;
    padding: 0;
    border-color: black;
    border-top: none;
    border-left: none;
    border-right: none;
    border-width: 1px;
    cursor: pointer;
}

#loginError, #registerError {
    text-align: center;
    color: red;
    padding-bottom: 5%;
}