body {
    background-image: url("media/bg.png");
    font-family: sans-serif;
    margin: auto;
    max-width: 800px;  
}
header {
    background-image: url("media/ich.jpg");
    background-size: 100% 100%;
    border: 0px solid black;
    border-radius: 0 0 25% 25%;
    padding-bottom: 10%;
}

main {
    padding-top: 5%;
    padding-bottom: 5%;
}

.icon {
    background-color: white;
    float: left;
    border-radius: 25%;
    margin-left: 4%;
    opacity: 0.3;
}

.icon:hover {
    opacity: 1;
}

nav ul {   
    position: -webkit-sticky;
    position: sticky;
    float: right;
    border: 1px solid black;
    background-color: black;
    border-radius: 0px 0px 5px 5px;
    margin: 0;
    padding: 2px; 
}

nav li {
    display: inline-block;
    color: white;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 15px;
}

nav a:hover {
    color: yellow;
}

body.index a.index, body.steckbrief a.steckbrief, body.kontakt a.kontakt {
    color: tomato;
}

h1 {
    color: white;
    text-align: center;
    font-size: 8em;
    margin: 0;    
}

h2 {
    color: blueviolet;
    font-weight: normal;
    font-size: 40px;
    padding-top: 5%;
}

.media {
    width: 100%;
    padding-bottom: 5%;
}

.container {
    display: flex;
    align-items: right;
    justify-content: right;
    min-width: 800px;
    max-height: 250px;
  }

#pb {
    float: left;
    object-fit: contain;
    flex-basis: 40%;
    max-height: 100%;
    max-width: 100%;
}

#ulsb {
    margin: auto;
    list-style-type: none;
    flex-basis: 60%;
    font-size: 20px;
    letter-spacing: 5px;
    line-height: 50px;
}

#sbtext {
    text-align: justify;
    font-size: 18px;
    line-height: 20px;
    padding: 10px;
}

.sbdiv {
    padding-top: 5%;
}

blockquote {
    text-align: center;
}

form {
    width: 200px;
}

#datenschutz {
    color: grey; 
    font-size: 10px;
}

#dslink{
    color: grey;
}

.eingabe {
    background-color: grey;
    color: white;
    border: none;
    font-weight: bold;
    padding-left: 10px;
    font-size: 15px;
    width: 250px;
    height: 20px;
}

#senden {
    background-color: grey;
    color: white;
    border: none;
}

#nachricht {
    background-color: grey;
    color: white;
    border: none;
    font-weight: bold;
    font-family: sans-serif;
    padding-left: 10px;
    font-size: 15px;
    width: 350px;
    height: 40px;
}