body {
    background-color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
}

h1, h3, div{
    color: white;
    text-align: center;
}

button {
    opacity: 0.9;
    border-color: white;
    color: white;
    background-color: darkgreen;
    padding: 5px;
    margin: 5px;
}

.click {
    background-color: red;
}